* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, "IBMPlexSansKR-Light", "Courier New", monospace; */
  /* font-size: -apple-system 100%; */
  /* max-height: 1318px; */
  /* max-height: 131.8rem; */
}

html {
  font-size: 62.5%;
  /* font-size: 100%; */
}

/* p {
  font-size: 100%;
  font-synthesis: none;
} */

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: white;

  /* margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; */
}

/* .img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
} */
/* h1,h2,h3 {
    font-weight: ;
  } */
h1 {
  font-size: 8rem;
  margin: 1rem 0 3rem;
  line-height: 8rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}

/********************************/
/*GENERAL COMPONENTS, REUSABLE*/
/*********************************/
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: white;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.button {
  display: inline-block;
  background-color: white;
  /* background-color: #42c2ff; */
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  transition: background-color 0.3s;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* .button:hover,
.button:active {
  background-color: #00afc1;
} */

#summer-btn {
  /* background-color: #a63ec5; */
  background-color: #42c2ff;
}

#spring-btn {
  /* background-color: #42c2ff; */
  background-color: #a63ec5;
}

/********************************/
/*HEADER*/
/*********************************/
.header {
  display: flex;
  justify-content: space-between;
  /* -webkit-margin-top: center; */
  /* top: 100rem; */
  align-items: center;
  /* color: white; */
  margin: auto;
  background-color: transparent;
  /* margin-top: 5rem; */
  /*becos we want header to be sticky later*/
  /* height: 9rem; */
  /* padding: 0 4.8rem; */
  /* margin-top: 3rem; */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

#header-summer {
  /* top: -60%; */
  top: -50rem;
}

.logo {
  /* top: -10rem; */
  /* margin-top: -2rem; */
  height: 10rem;
}
/********************************/
/*********************************/

.section-first {
  width: 100%;
  height: 100vh;
  /* background-image: url(/img/springImg/spring.jpg); */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

#spring {
  /* background-image: url(/img/springImg/spring.jpg); */
  background-color: #f190b7;
}
#summer {
  background-image: url("/img/summer/first.jpg");
}

.firstPage {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;

  /* top: -80%; */
}

.firstPage-text-box {
  position: relative;
  top: 15rem;
  /* top: -80%; */
  left: 35rem;
  margin: 0;
  /* transform: translate(50%, 50%); */
}

#firstPage-text-box-summer {
  top: -130%;
}

.description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.firstPage-img-box {
  width: 100%;
}

.main-nav-list {
  /* rem */
  list-style: none;
  display: flex;
  gap: 4.8rem;
  /*  */
  position: relative;
  margin: auto;
  /* align-items: center; */
  /* padding-top: 5rem; */
  /* padding-right: 5rem; */
  /* font-size: x-large; */
}

.main-nav-link,
.main-nav-link-summer {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: 500;
  /* font size 1.8 */
  font-size: 2.5rem;
  transition: all 0.3s;
}

.main-nav-link-summer:hover,
.main-nav-link-summer:active {
  color: #1d4116;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #a63ec5;
}

.sticky {
  position: fixed;
  top: -91%;
  /* bottom: -125rem; */
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 100.2rem 3.2rem rgba(0, 0, 0, 0.03);
  opacity: 0.8;
}

.sticky-summer {
  position: fixed;
  /* top: 100rem; */
  bottom: 25rem;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 100.2rem 3.2rem rgba(0, 0, 0, 0.03);
  opacity: 0.8;
}

.sticky .main-nav-link {
  color: #46244c;
}

.sticky-summer .main-nav-link-summer {
  color: #1d4116;
}
.sticky-summer .main-nav-link-summer:hover,
.sticky-summer .main-nav-link-summer:active,
.sticky-summer .main-nav-link-summer:visited {
  /* color: #5f7464; */
  border: 0.5rem solid #5f7464;
  border-radius: 1rem;
}

.sticky .main-nav-link:hover,
.sticky .main-nav-link:active {
  border: 0.5rem solid #a63ec5;
  border-radius: 1rem;
}

/* ================================== */
/* ================Intro============== */
/* ================================ */

.secondPage {
  background-image: url(/img/springImg/intro.jpg);
  width: 100%;
  /* height: 140vh; */
  /* height: */
  /* height: 100% */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  /* padding: 0 3.2rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 9rem; */
  /* align-items: center; */
}

.container-intro {
  /* display: grid; */
  /* grid-template-columns: 2.5fr 0.5fr; */
  /* grid-template-columns: 2fr 1fr; */
  /* max-width: 120rem; */
  /* margin: 0 auto; */
  /* padding: 0 3.2rem; */
  /* gap: 9.6rem;
  align-items: center; */
  /* display: grid; */
  /* grid-template-columns: 2.5fr 1fr; */
}

.intro-description {
  display: flex;
  color: #46244c;
  font-weight: 400;
  font-size: 2.5rem;
  /* margin-top: -13rem; */
  margin-left: 5rem;
  margin-top: 2rem;
  /* margin-right: 5rem; */
  gap: 9rem;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* .info-myself {
  position: relative;
  width: 80rem;
  align-items: center;
  vertical-align: middle;
} */

.human img {
  width: 40rem;
  margin-left: 15rem;
  border-radius: 30%;
}

.intro {
  font-size: 3.6rem;
  font-weight: 400;
  color: black;
  margin-left: 10rem;
}

.skills {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.skills img {
  position: relative;
  top: -15rem;
  left: -1%;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid black;
  /* #fdf2e9; */
}

.favorites img {
  width: 8%;
}

.cv img {
  position: relative;
  top: -10rem;
  left: 30rem;
  width: 15rem;
  cursor: pointer;
  animation: click 1s infinite;
  /* margin-left: 100rem; */
}

@keyframes click {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* ===================================== */
/* =========portfolio============= */
/* .portfolio-filter */
.portfolio .portfolio-filter,
.portfolio .portfolio-filter-summer {
  flex: 0 0 100%;
  position: relative;
  /* left: 5rem; */
  max-width: 130rem;
  text-align: center;
  margin-bottom: 2rem;
}

.short {
  padding-left: 5rem;
  padding-right: 5rem;
}
/* .portfolio */
.portfolio-filter button,
.portfolio-filter-summer button {
  display: inline-block;
  color: #46244c;
  border: none;
  text-decoration: none;
  font-size: 2.5rem;
  background-color: transparent;
  margin-right: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: 60ß0;
  text-transform: capitalize;
  margin-bottom: 2rem;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
}

.portfolio-filter-summer button {
  color: white;
  /* position: inherit; */
}

.portfolio-filter-summer button:hover,
.portfolio-filter-summer button.active {
  color: #0c1e7f;
  position: relative;
  text-shadow: -0.2rem 0rem 0rem #f9ebc8, 0.2rem 0rem 0rem #f9ebc8,
    0rem -0.2rem 0rem #f9ebc8, 0rem 0.2rem 0rem #f9ebc8;
}

.portfolio .portfolio-filter button:hover,
.portfolio .portfolio-filter button.active {
  color: #a63ec5;
  text-shadow: -0.2rem 0rem 0rem pink, 0.2rem 0rem 0rem pink,
    0rem -0.2rem 0rem pink, 0rem 0.2rem 0rem pink;
  position: relative;
}

/* .portfolio .portfolio-filter button.active {
  color: #a63ec5;
} */
/* 
.portfolio .portfolio-filter button.active::before {
  content: "";
  position: absolute;
  bottom: -1.75rem;
  left: 45%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: aquamarine;
  border-radius: 50%;
} */

.portfolio-item {
  /* flex: 0 0 33.33%; */
  max-width: 33.33%;
  margin-bottom: 2rem;
}

.portfolio-item-inner {
  position: relative;
  overflow: hidden;
}

.portfolio-item .mask {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}

.portfolio-item-inner:hover .mask {
  opacity: 0.9;
}

.portfolio-item .term {
  color: white;
  background-color: #a63ec5;
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  position: absolute;
  top: 0;
  /* left: 1.5rem; */
  left: 3rem;
  font-size: 3rem;
  display: inline-block;
  /* padding: 0.19rem 0.625rem; */
  padding: 1rem 1.5rem;

  /* -webkit-transform: translateY(-40px); */
  transform: translateY(-40px);
  transition: 0.3s;
  opacity: 0;
}

#term-summer {
  background-color: green;
}

.portfolio-item h3 {
  color: antiquewhite;
  font-size: 2.25rem;
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 8rem;
  line-height: 1.5;
  /* line-height: 1.5; */
  transition: 0.3s;
  /* -webkit-transform: translateY(30px); */
  transform: translateY(30px);
  opacity: 0;
}

.portfolio-skill {
  padding-top: 1.5rem;
  font-weight: 400;
}

.portfolio-item .more-button {
  /* color: white;
  position: absolute;
  bottom: 15%;
  left: 1.5rem;
  font-size: 1.6rem;
  display: block;
  background: red;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  transition: 0.3s;
  opacity: 0; */
  /* position: absolute; */
}

.github-link {
  position: absolute;
  width: 10rem;
  height: 10rem;
  bottom: 1rem;
  opacity: 0;
  color: white;
}

#more-button-summer {
  background: #6eabcf;
}

.portfolio-item-inner:hover h3,
.portfolio-item-inner:hover span,
.portfolio-item-inner:hover ion-icon {
  opacity: 1;
  transform: translateY(0);
}

.container {
  /* max-width: 130rem; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding: 4.8rem 0 9.6rem 0; */
  /* margin: 0 auto; */
  /* margin: 0; */
  /* overflow: hidden; */
  /* background-color: #d9a7c7; */
}

.padd-15 {
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-third .container,
.section-third-summer .container {
  /* padding-top: 3.75rem; */
  padding-bottom: 4.75rem;
  /* background-image: url(/img/springImg/page-2.jpg); */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.section-third {
  /* background-image: url(/img/springImg/page-2.jpg); */
  background-color: #f7e9d7;
}

.section-third-summer {
  /* background-image: "none"; */
  background-color: #4d77ff;
}

.title {
  font-size: 5.25rem;
  /* margin-left: 0.75rem; */
  margin: 3.2rem 6.4rem;
  padding-top: 3.75rem;
  text-align: center;
  color: #46244c;
}

#portfolio-title-summer {
  color: #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1.6rem 3.2rem; */
  /* padding-left: 7.5rem; */
  /* padding-right: 7.5rem; */
  padding-left: 13rem;
  padding-right: 10rem;
}

/*  */

.portfolio-item-thumbnail {
  /* width: 12rem;
    min-height: 12rem;
    max-height: auto;
    float: left;
    margin: 3rem;
    padding: 3rem; */
}

.portfolio-item-thumbnail img,
.portfolio-item-thumbnail-summer img {
  /* width: 0 0 0 33%; */
  height: 40rem;
  width: 40rem;
  display: flex;
  /* max-width: 100%; */
  /* height: auto; */
  /* flex: 0 0 33.33%; */
  max-width: 100%;
  align-items: center;
  border: 0.5rem solid #eca6a6;
  border-radius: 2.4rem;
}

.portfolio-item-thumbnail-summer img {
  border: 0.5rem solid #6eabcf;
}

.portfolio-item.show {
  display: block;
  animation: showItem 0.5s ease;
}

@keyframes showItem {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.portfolio-item.hide {
  display: none;
}

/* =======contact================= */

.fourthPage,
.fourthPage-summer {
  background-image: url(/img/springImg/page-3.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh;
}

.fourthPage-summer {
  background-image: none;
  background-color: #5f7464;
}

.contact-image {
  position: relative;
  /* left: 14rem;
  top: 5rem; */
  padding-left: 15rem;
  padding-top: 5rem;
  display: "";
}

.contact-title,
.contact-title-summer {
  /* position: relative;
  display: block;
  font-size: 5rem;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
  font-weight: 400;
  color: #46244c;
  line-height: 1.5; */

  position: relative;
  left: 40rem;
  top: -20rem;
}

.contact-title-summer {
  /* color: white; */
}

.close {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 3rem;
  left: 90%;
  top: -2.5rem;
  cursor: pointer;
  background-color: #8236cb;
  /* left: 60%; */
}

.contact-image:hover,
.contact-image:before {
  transform: scale(1.5);
  border: 1rem;
  border-color: black;
}

.contact-btn {
  position: relative;
  display: flex;
  border: none;
  background-color: transparent;
  font-size: 3.8rem;
  text-decoration: none;
  color: black;
  /* padding: 11rem 4.5rem; */
  /* border-radius: 50%; */
  /* transition: background-color 0.3s; */
  font-weight: 600;
  cursor: pointer;
}

.contact-content {
  width: 50rem;
  border-color: #46244c;
  border: 1rem;
}

.control {
  position: relative;
  margin-top: -1rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.control label {
  position: absolute;
  top: 3rem;
  left: 4rem;
  color: black;
  transition: 0.3s ease;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}

.control input,
textarea {
  width: 86%;
  border: none;
  border-bottom: 0.2rem solid black;
  outline: none;
  padding: 1rem 0;
  margin-left: 6%;
}

.control textarea {
  height: 15rem;
}

.control input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: -0.3rem;
}

/* submit */
.submit {
  /* width: auto; */
  background-color: #46244c;
  /* padding: 1rem 4rem; */
  color: white;
  font-weight: 600;

  width: 86%;
  height: 4.5rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.5rem;
  border: none;
  outline: none;
  padding: 1rem 0;
  margin-top: 3rem;
  margin-left: 6%;
  cursor: pointer;
}

#submit-summer {
  background-color: #d29d2b;
}

.addMe {
  position: relative;
  font-size: 3rem;
  /* font-weight: 400; */
  line-height: 1.5;
  left: -20rem;
  top: 20rem;
  color: #8946a6;
  /* text-shadow: -0.2rem 0rem 0rem #c65d7b, 0.2rem 0rem 0rem #c65d7b,
    0rem -0.2rem 0rem #c65d7b, 0rem 0.2rem 0rem #c65d7b; */
}

#addMe-summer {
  color: white;
  text-shadow: -0.2rem 0rem 0rem #000, 0.2rem 0rem 0rem #000,
    0rem -0.2rem 0rem #000, 0rem 0.2rem 0rem #000;
}

.container-t {
  position: absolute;
  display: grid;
  /* width: 50rem; */
  /* display: inline-block; */
  /* top: 20%; */
  /* left: 35%; */
  left: 33%;
}

.content {
  /* width: 60rem;
  height: 30rem;
  left: 30%;
  top: 25%;
  border: 0.5rem solid #8236cb;
  border-radius: 2rem;
  display: none;
  background-color: #b97a95; */
  /* opacity: 1; */
  /* height: 53rem; */
  display: none;
  width: 100rem;
}

#content-summer {
  /* background-color: #85c88a;
  border: 0.5rem solid #357c3c; */
}

.email-address,
.message-box,
.name {
  font-family: "Rubik", sans-serif;
  font-size: 2em;
}

/* footer */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  background-color: #f9ebc8;
}

#footer-summer {
  background-color: #001e6c;
}

/* .grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
} */

.logo-col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .footer-logo {
  display: block;
  margin-bottom: 3.2rem;
} */

.social-links {
  position: relative;
  list-style: none;
  display: flex;
  gap: 3rem;
  left: 46%;
  bottom: 5rem;
  cursor: pointer;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: black;
}

#social-icon-summer {
  color: white;
}

.copyright {
  font-size: 2rem;
  line-height: 1.6;
  /* color: #767676; */
  color: black;
  margin-top: auto;
}

#copyright-summer {
  color: white;
}
/* dd */
